<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zakeke Integration</title>
    <style>
        iframe {
            width: 100%;
            height: 100vh;
           /* 16:9 Aspect Ratio */
        }

        body {
            margin: 0;
            padding: 0;
            font-family: Arial, sans-serif;
        }
    </style>
</head>
<body>
<div class="container" style="width: 100%; height: 100%;">
    <div id="zakeke-container" style="width: 100%;">

    </div>
</div>

<script src="https://portal.zakeke.com/scripts/integration/apiV2/customizer.js"></script>

<script>
    let customizer = new ZakekeDesigner();

    // Dummy product data
    function getProductInfo(zakekeData) {
        console.log('hi there')
        console.log(zakekeData)
        return { price: zakekeData.price, isOutOfStock: false };
    }

    function getProductPrice(zakekeData) {
        return { price: 100, isOutOfStock: false };
    }

    function getProductAttribute(zakekeData) {
        return {
            attributes: [
                { code: "1", label: "Size", values: [] }
            ],
            variants: []
        };
    }

    function addToCart(productData) {
        console.log("addToCart called with:", productData);
        return (window.location.href = "https://www.example.com/cart");
    }

    function editAddToCart(zakekeData) {
        console.log("Zakeke Data received:", zakekeData);
        window.location.href = "https://www.example.com/shopping-cart";
    }

    function onBackClicked() {
        console.log("Back button clicked");
        return (window.location.href = "https://www.example.com/cart");
    }

    // Configuration object
    var config = {
        tokenOauth: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJyb2xlIjoiU2VsbGVyIiwiUGVybUJpdHMiOiIwMTAwMTExMDAxMTAwMTExMTExMTAxIiwidW5pcXVlX25hbWUiOiJ3b2xlMTcwMkBnbWFpbC5jb20iLCJVc2VySUQiOiIyNzExMDQiLCJVc2VyTmFtZSI6IndvbGUxNzAyQGdtYWlsLmNvbSIsInNhbGVzQ2hhbm5lbElEIjoiMSIsImVtYWlsIjoid29sZTE3MDJAZ21haWwuY29tIiwiVXNlclR5cGVJRCI6IjMiLCJJc3N1ZURhdGUiOiIxOC0wMS0yMDI1IDIzLTQ2LTU0WiIsIlVzZXJWZXJzaW9uIjoiMjAyNTAxMTgxMTE5NTQiLCJhY2Nlc3NUeXBlIjoiUzJTIiwiY2xpZW50SUQiOiIyOTA4NDUiLCJuYmYiOjE3MzcyNDQwMTQsImV4cCI6MTczNzMzMDQxNCwiaWF0IjoxNzM3MjQ0MDE0LCJpc3MiOiJ3d3cuemFrZWtlLmNvbSIsImF1ZCI6Imh0dHBzOi8vd3d3Lnpha2VrZS5jb20ifQ.Ei5YNqbAQG8XjTZnK10lqkzg-yi4jNRhKKn1GqOkZT8", // Replace with a valid token
        productId: '1',
        productName: "Name product",
        getProductInfo: getProductInfo,
        getProductPrice: getProductPrice,
        getProductAttribute: getProductAttribute,
        cartButtonText: "Add To Cart",
        addToCart: addToCart,
        editAddToCart: editAddToCart,
        isNamesAndNumbers: false,
        isSharedDesignUrl: false, // Disabled if unused
        isSaveDesign: false, // Disabled if unused
        onBackClicked: onBackClicked,
        designId: "",
        hideVariants: true,
        inventoryManagement: false,
        priceTaxIncluded: false,
        isClientPreviewsEnabled: true,
        mobileVersion: false,
        imagePreviewHeight: 400,
        imagePreviewWidth: 400,
        culture: "en-US",
        currency: "EUR",
        quantity: 1,
        selectedAttributes: {},
        sides: undefined,
        additionalData: {}
    };

    // Create iframe
    customizer.createIframe(config);
</script>
</body>
</html>
