{% extends 'base/base.html' %}

{% block base %}
  

    <!-- Shopping Cart Section Begin -->
    <section class="shopping-cart spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="shopping__cart__table">
                        <table>
                            <thead>
                                <tr>
                                    <th>Product</th>
                                    <th>Quantity</th>
                                    <th>Total</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in  items %}
                                <tr>
                                    <td class="product__cart__item">
                                        <div class="product__cart__item__pic">
                                            <img src="{{ item.1.image.url }}" alt="">
                                        </div>
                                        <div class="product__cart__item__text">
                                            <h6>{{ item.1.name }}</h6>
                                            <h5>${{ item.1.price }}</h5>
                                        </div>
                                    </td>
                                    <td class="quantity__item">
                                        <div class="quantity">
                                            <button class="decrement-btn" data-id="{{ item.1.id }}">-</button>
                                            <input class="clear" type="text" value="{{ item.0 }}" readonly>
                                            <button class="increment-btn" data-id="{{ item.1.id }}">+</button>
                                        </div>
                                    </td>
                                    <td class="cart__price">$ 30.00</td>
                                    <td class="cart__close"><i class="fa fa-close"></i></td>
                                </tr>
                        
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="continue__btn">
                                <a href="{% url 'shop' %}">Continue Shopping</a>
                            </div>
                        </div>
                        
                    </div>
                </div>
                <div class="col-lg-4">
                  
                    <div class="cart__total">
                        <h6>Cart total</h6>
                        <ul>
                            <li>Subtotal <span>$ 169.50</span></li>
                            <li>Total <span>$ 169.50</span></li>
                        </ul>
                        <a href="#" class="primary-btn">Proceed to checkout</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Shopping Cart Section End -->

    <script>

        const items = document.getElementsByClassName("clear");
        items.forEach(item => {
            item.addEventListener("click", function() {
                const id = item.getAttribute('data-id');
                
            });
        });

    </script>

    <!-- Footer Section Begin -->
{% endblock base %}