
<!DOCTYPE html>
<html lang="zxx">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="description" content="Male_Fashion Template">
    <meta name="keywords" content="Male_Fashion, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="csrf-token" content="{{ csrf_token }}">


    <title>Iconic Realm</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap"
    rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/elegant-icons.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/nice-select.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/slicknav.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">

    <style>
        .shopping__cart__table table {
    width: 100%;
    border-collapse: collapse;
}

.shopping__cart__table th, .shopping__cart__table td {
    padding: 15px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

.product__cart__item {
    display: flex;
    align-items: center;
}

.product__cart__item__pic img {
    width: 80px;
    height: 80px;w
    object-fit: cover;
    border-radius: 5px;
}

.quantity {
    display: flex;
    align-items: center;
    justify-content: center;
}

.quantity button {
    background-color: #333;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 16px;
    margin: 0 5px;
    border-radius: 5px;
}

.quantity button:hover {
    background-color: #555;
}

.primary-btn {
    display: block;
    text-align: center;
    background-color: #ff4c4c;
    color: white;
    padding: 12px;
    font-size: 16px;
    border-radius: 5px;
    text-decoration: none;
    transition: 0.3s;
}

.primary-btn:hover {
    background-color: #cc0000;
}

.cart__total {
    background: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
}

.cart__total h6 {
    font-size: 18px;
    margin-bottom: 10px;
}

.cart__total ul {
    list-style: none;
    padding: 0;
}

.cart__total ul li {
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
}
a i {
    color: white;
}

    </style>
</head>


<body>
    <!-- Offcanvas Menu Begin -->
    <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">
        <div class="offcanvas__option">
            <div class="offcanvas__links">
                {% if user.is_authenticated %}
                <a href="{% url 'login'%}">{{ user.username }}</a>
                {% else %}
                <a href="{% url 'login' %}"> Sign In</a>
                {% endif %}
            
            </div>
           
        </div>
        <div class="offcanvas__nav__option">
            <a href="#" class="search-switch"><img src="{% static 'img/icon/search.png' %}" alt=""></a>
            <a href="{% url 'cart' %}"><img src="{% static 'img/icon/cart.png' %}" alt="" style="width: 25px;"> <span class="cart-count" style="align-items: center;">  0</span></a>
            
        </div>
        <div id="mobile-menu-wrap"></div>
       
    </div>
    <!-- Offcanvas Menu End -->

    <!-- Header Section Begin -->
    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-7">
                        
                    </div>
                    <div class="col-lg-6 col-md-5">
                        <div class="header__top__right">
                            <div class="header__top__links">
                                {% if user.is_authenticated %}
                                <a href="#">{{ user.username }}</a>
                                {% else %}
                                <a href="{% url 'login' %}"> Sign In</a>
                                {% endif %}                     
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3">
                    <div class="header__logo">
                        <a href="{% url 'index' %}">
                            <img src="https://i.ibb.co/NdwPYctH/iconirea.png" style="border-radius: 50%; width: 50px;"  alt="">
                        </a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <nav class="header__menu mobile-menu">
                        <ul>
                            {% if shop %}
                            <li ><a href="{% url 'index' %}">Home</a></li>
                          
                            <li class="active"><a href="{% url 'shop' %}">Shop</a></li>
                            <li><a href="{% url 'about' %}">About</a></li>
                            <li><a href="{% url 'contact' %}">Contact</a></li>
                            {% else %}

                            <li class="active"><a href="{% url 'index' %}">Home</a></li>
                          
                            <li><a href="{% url 'shop' %}">Shop</a></li>
                            <li><a href="{% url 'about' %}">About</a></li>
                            <li><a href="{% url 'contact' %}">Contact</a></li>
                            {% endif %}

                        
               
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3 col-md-3">
                    <div class="header__nav__option">
                        <a href="#" class="search-switch"><img src="{% static 'img/icon/search.png' %}" alt=""></a>
                        <a href="{% url 'cart' %}"><img src="{% static 'img/icon/cart.png' %}" style="width: 25px;" alt=""> <span class="cart-count">0</span></a>
                    </div>
                </div>
            </div>
            <div class="canvas__open"><i class="fa fa-bars"></i></div>
        </div>
    </header>
    <!-- Header Section End -->
     
    {% block base %}
    <!-- Hero Section Begin -->
    <section class="hero">
        <div class="hero__slider owl-carousel">
            <div class="hero__items set-bg" data-setbg="{% static 'img/hero/hero-1.jpg' %}">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-5 col-lg-7 col-md-8">
                            <div class="hero__text">
                                <h6>Collection</h6>
                                <h2 style="color: antiquewhite;">Custom Designs</h2>
                               
                                <a href="{% url 'shop' %}" class="primary-btn">Shop now </a>
                                
                                <div class="hero__social" style="color: white;">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-pinterest"></i></a>
                                    <a href="#"><i class="fa fa-instagram"></i></a>
                                    <a href="#"><i class="fa fa-tiktok"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hero__items set-bg" data-setbg="{% static 'img/hero/hero-2.jpg' %}">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-5 col-lg-7 col-md-8">
                            <div class="hero__text">
                                <h6 style="color: antiquewhite;">Customizing</h6>
                                <h2 style="color: white;">GoShopping</h2>
                                <a href="#" class="primary-btn">Shop now </a>
                                <div class="hero__social">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-pinterest"></i></a>
                                    <a href="#"><i class="fa fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Hero Section End -->

<div style="padding: 10px;">


</div>

    <!-- Product Section Begin -->
    <section class="product spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="filter__controls">
                        <li class="active" data-filter="*" hidden>Printing</li>
                        <li data-filter=".new-arrivals" hidden>Sport</li>
                        <li data-filter=".hot-sales" hidden>Nutrient</li>
                    </ul>
                </div>
            </div>
            <div class="row product__filter">
                {% for product in  products %}
                <div class="col-lg-3 col-md-3 col-sm-4 col-md-3  col-6 new-arrivals">
                    <a href="{% url 'product'  product.id  %}">

                    <div class="product__item">
                        <div class="product__item__pic set-bg" data-setbg="{{ product.image.url }}">
                            <span class="label">New</span>
                            
                        </div>
                        <div class="product__item__text">
                            <h6>{{ product.name }}</h6>                 
                            <h5>${{ product.price }}</h5>

                           
                        </div>
                        <div>
                            <a href="https://wa.me/+96176925915?text=https://woleabrahamthedev.pythonanywhere.com/product/{{product.id}}%0A Check out this product:https://woleabrahamthedev.pythonanywhere.com{{ product.image.url|urlencode }}" 
   target="_blank" class="whatsapp-link">
                                <i class="fa fa-whatsapp" style="color: green;"></i>
                            </a>
                            
                        </div>
                    </div>
                </a>
                </div>

              
               {% endfor %}
            </div>
        </div>
    </section>
    <!-- Product Section End -->


    <!-- Categories Section End -->

    {% endblock base %}

    <!-- Footer Section Begin -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <div class="footer__logo">
                            <img src="https://i.ibb.co/NdwPYctH/iconirea.png" style="width: 50px; border-radius: 50%;"  alt="">
                            <p>Iconic Realm</p>
                        </div>
                        <p>The customer is at the heart of our unique business model, which includes design.</p>

                    </div>
                </div>
                
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="footer__copyright__text">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        <p>Copyright ©
                            <script>
                                document.write(new Date().getFullYear());
                            </script>
                            All rights reserved
                        </p>
                        
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Search Begin -->
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch">+</div>
            <form class="search-model-form" action="#" method="post">
                {% csrf_token %}
                <input type="text" name="search" placeholder="Search...">
            </form>
        </div>
    </div>
    <!-- Search End -->

    <!-- Js Plugins -->
    <!-- <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script> -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!-- <script src="{% static 'js/jquery.nice-select.min.js' %}"></script>
    <script src="{% static 'js/jquery.nicescroll.min.js' %}"></script>
    <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'js/jquery.countdown.min.js' %}"></script>
    <script src="{% static 'js/jquery.slicknav.js' %}"></script> -->
    <script src="{% static 'js/mixitup.min.js' %}"></script>
  <!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- Owl Carousel JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>

    <script src="{% static 'js/main.js' %}"></script>
    




    <script>

        // function addtoCart(id){
        //     console.log('added');
        //     fetch(`/cart/add/${id}`)
        //     .then(() =>{
        //     updateCartTotal();
        //     })
        // };
        function updateCartTotal() {
        console.log('Updating');
        fetch('/cart/cart_total/')
        .then(response => response.json())
        .then(data => {

        const totalValueElement = document.querySelector(".Total_value");

        if (totalValueElement) {
            totalValueElement.innerText = `$${data.total}`;
        }
            
        })

        fetch('/cart/count')
            .then((response) => response.json())
            .then((data) => {
                const count = document.getElementsByClassName('cart-count');
                console.log(data.count);
            
            for (let i = 0; i < count.length; i++){
                count[i].textContent = data.count;
            }
            } )
    };

   

        function removeFromCart(id){
            fetch(`/cart/remove/${id}`)
            .then(() => {
                updateCartTotal();
            });
            
        };

        function addtoCart(id){
            console.log('added');
            fetch(`/cart/add/${id}`)
            .then(() =>{
                console.log('calling');
            updateCartTotal();
            })
        };


    </script>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            console.log('loaded');
        //     // Your script here
        //     const idd = {{product.id | escapejs }};
        //     console.log(idd);
        //    fetch(`/cart/add/${idd}`).then(data => data.json())
        //    .then(data => {
        //     const count = data.count;
        //     const countElement = document.getElementsByClassName("cart-count");
        //     if (countElement) {
        //             for (let i = 0; i < countElement.length; i++) {
        //                 countElement[i].textContent = count;  // Update the count in the cart display
        //             }
                    
        //         }

        //    });
        fetch('/cart/count')
            .then((response) => response.json())
            .then((data) => {
                const count = document.getElementsByClassName('cart-count');
                console.log(data.count);
            
            for (let i = 0; i < count.length; i++){
                count[i].textContent = data.count;
            }
            } )

         })
    
    </script>

    <script>
         function getCSRFToken() {
            const csrfToken = document.querySelector('meta[name="csrf-token"]').getAttribute('content');
            return csrfToken;
        }
    
        const item = document.getElementById("add-cart");
        item.addEventListener("click", () => {
            // Send the product ID to the backend when the "Add to Cart" button is clicked
        
            fetch('/cart/count')
            .then((response) => response.json())
            .then((data) => {
                const count = document.getElementsByClassName('cart-count');
                console.log(data.count);
            
            for (let i = 0; i < count.length; i++){
                count[i].textContent = data.count;
            }
            } )

            .catch(error => {
                console.error('Error adding to cart:', error);
            });
            updateCartTotal();

           
        });
        
       

    
    </script>
    <script>
        $(document).ready(function() {
    $(".hero__slider").owlCarousel({
        loop: true,
        margin: 10,
        items: 1,
        autoplay: true,
        autoplayTimeout: 5000,
        autoplayHoverPause: false,
        dots: true,
        
    });
});

$(".set-bg").each(function () {
    var bg = $(this).data("setbg");
    $(this).css("background-image", "url(" + bg + ")");
});
    </script>

</body>

</html>
